# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/
*.sqlite3
backend/.env
frontend/.env
# Node
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
docker-compose.override.yml
weather.db

# Node / React
frontend/node_modules/
frontend/dist/
